:root {
  --text: #0d0713;
  --background: #faf7fd;
  --primary: #862dd9;
  --secondary: #ddc1f7;
  --accent: #a750fa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--background);
  color: var(--text);
}

button {
  padding: 0.5em 2em;
  font-size: 1rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-weight: bold;
}

.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  color: var(--background);
}

.header h1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header svg {
  height: 1.5em;
  width: auto;
  fill: var(--background);
}

.header button {
  background-color: var(--background);
}

.books {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2em;
}

.book {
  padding: 2em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--secondary);
  border-radius: 10px;
  aspect-ratio: 1 / 1;
}

form > div {
  display: flex;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.75;
}

dialog {
  margin: auto;
  padding: 2em;
}
